<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="DBConnection"
         connectionString="Data Source=DESKTOP-G9JJR8D;Initial Catalog=iomprod;User Id=sa;Password=7pFUEx8Q;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="DeploymentEnvironment" value="Jonathan Local" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="mailTokenLifespanInHours" value="12" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="mailAccount" value="noreply@ilucent.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SenderName" value="Local: System Admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SupportEmail" value="jonathan@ilucent.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ResetPassRoute" value="/User/ResetPassword" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <elmah>
    <errorMail
      from="no-reply@ilucent.com"
      to="jonathan@ilucent.com"
      subject="LOCAL - IOM Exception - please fix me!"
      async="true"
      port="587"
      useSsl="true"
      smtpServer="smtp.gmail.com"
      userName="ilucent.sysad@gmail.com"
      password="1Luc3nt#sys@d"
      xdt:Transform="SetAttributes" xdt:Locator="Match(from)" />
  </elmah>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>